[mcp_servers.bb_browser_safe]
command = "node"
args = ["__MCP_PATH__"]
startup_timeout_sec = 60.0

[mcp_servers.bb_browser_safe.env]
BB_BROWSER_SAFE_MODE = "1"
BB_BROWSER_ENABLE_EVAL = "0"
BB_BROWSER_ENABLE_NETWORK = "0"
BB_BROWSER_ENABLE_SITE_RUN = "0"
BB_BROWSER_ENABLE_SITE_RECOMMEND = "0"
BB_BROWSER_ENABLE_SITE_UPDATE = "0"
BB_BROWSER_ALLOW_COMMUNITY_SITES = "0"
BB_BROWSER_ALLOW_COMMUNITY_UPDATES = "0"
BB_BROWSER_ALLOW_HISTORY_RECOMMEND = "0"
